@CHARSET "UTF-8";

.menu {
	margin: 0px;
	padding: 0px;
}

.menu li {
	list-style: none;
	padding-top: 8px;
	float: left;
}

.menu .current {
	background-color: #5588bb;
}

.menu .item {
	float: right;
	padding: 0px;
}

.menu .item a {
	display: block;
	line-height: 64px;
	height: 64px;
	width: 80px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.head_image {
	width: 48px;
	height: 48px;
	border-radius: 24px;
}